
html , body {
   margin: 0;
   height: 100%;
   
  
}

#nav{
    width: 100%; 
    padding: 1px 1px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 80px;
     
}

#nav a {
    margin:5px 25px;
    font-size: 16px;

    

}





a {
    text-decoration: none;
    color:rgb(102, 95, 95);
}

a:hover {
    text-decoration: underline;
}


#logo{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#google-logo{
    text-align: center;
}

#search-container { 
    margin-top: 20px;
    text-align: center; 
    position: relative;
}

#search-icon , #voice-icon {
    position: absolute;
    top:0;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#img{
    width: 20px;
  height: 20px;
}

#img-1{
    width: 30px;
  height: 30px;
  border-radius: 50%;
}

#search-icon{
    left: 10px;
}

#voice-icon{
    right: 10px;
    width: 2%;
}

#search-bar{
    padding-top: 12px;
    padding-bottom: 12px;
    outline: 0;
    width: 550px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    border: 1.5px solid rgb(209, 206, 206);
}

#search-bar:hover{
    box-shadow: 0 0 15px 5px rgb(238, 233, 233);
}

#buttons{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.btn{
    margin-left:10px ;
    margin-right:10px;
    padding: 6px 14px;
    cursor: pointer;
    border-radius: 5px;
    background: rgb(243, 243, 243);
    border:2px solid  transparent;
    color:rgb(102, 95, 95);;
}

#links{
    margin: 15px;
    text-align:center;
     

}

body{
    display: flex;
    flex-direction: column;
}

.btn:hover{
    box-shadow: 0 0 2px 1px rgb(179, 176, 176);
    border: 1px solid  rgb(243, 243, 243);
    color:rgb(20, 5, 5);
}

#footer-container{
    width: 100%; 
    margin: auto;
    padding: 0 1px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 60px;
    background: rgb(243, 243, 243);  
}


footer a {
    margin:5px 25px;
    font-size: 16px;

}


